@use "@carbon/grid";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.12.7/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.12.7/dist/theme-default.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css";

// to recolor the node resizer
.vue-flow__resize-control.handle {
  background-color: rgb(12, 100, 70);
}
.vue-flow__resize-control.line {
  border-color: rgb(12, 100, 70);
}

//to make the selected component visually identifiable
.vue-flow__node-component.selected,
.vue-flow__node-component:focus,
.vue-flow__node-component:focus-visible {
  outline: none;
  border: 1.5px solid #222;
}

//to make the selected workflow visually identifiable
.vue-flow__node-workflow.selected,
.vue-flow__node-workflow:focus,
.vue-flow__node-workflow:focus-visible {
  outline: none;
  border: 1.5px solid rgb(12, 100, 70);
}

.vue-flow__node-default .vue-flow__handle,
.vue-flow__node-input .vue-flow__handle,
.vue-flow__node-output .vue-flow__handle,
.vue-flow__node-workflow-input .vue-flow__handle,
.vue-flow__node-component .vue-flow__handle,
.vue-flow__node-workflow .vue-flow__handle {
  width: 3px;
  height: 3px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}

.vue-flow__node-workflow,
.vue-flow__node-component {
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  color: #222;
  border-color: var(--vf-node-color);
}

.vue-flow__node-workflow {
  background-color: rgba(16, 185, 129, 0.5);
}

.vue-flow__node-component {
  background-color: rgb(255, 255, 255);
}

.vue-flow__node-workflow.errored-template,
.vue-flow__node-component.errored-template {
  background-color: rgb(215, 57, 65);
}

.vue-flow__edge-path,
.vue-flow__connection-path {
  stroke: #b1b1b7;
  stroke-width: 1.5;
  fill: none;
}
.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__panel {
  box-shadow: none;
}

.basicflow .controls {
  gap: 0 !important;
}

.vue-flow__controls-button,
.basicflow .controls button {
  border-radius: 0 !important;
  color: white;
  background-color: #0e61fe;
  border: none;
  margin: 4px !important;
  padding: 12px !important;
  box-shadow: none !important;
}

.vue-flow__controls-button svg path {
  fill: white;
}

.vue-flow__controls-button:hover,
.basicflow .controls button:hover {
  background-color: #054ed5;
  transform: none !important;
}

.basicflow.dark {
  background: #57534e;
  color: #fffffb;
}

.basicflow.dark .vue-flow__node-component {
  background: #292524;
  color: #fffffb;
}
.basicflow.dark .vue-flow__controls .vue-flow__controls-button {
  background: #292524;
  fill: #fffffb;
  border-color: #fffffb;
}
.basicflow.dark .vue-flow__edge-textbg {
  fill: #292524;
}
.basicflow.dark .vue-flow__edge-text {
  fill: #fffffb;
}

.basicflow .controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.dndflow {
  flex-direction: row;
  display: flex;
  height: 77vh;
}

@media screen and (max-width: 671px) {
  .dndflow {
    flex-direction: column;
  }
}

.dndflow .vue-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.cds-button-padding {
  padding: 0 3px 0 3px;
}
