@use "@carbon/grid";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.12.7/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.12.7/dist/theme-default.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css";

// to recolor the node resizer
.vue-flow__resize-control.handle {
  background-color: rgb(12, 100, 70);
}
.vue-flow__resize-control.line {
  border-color: rgb(12, 100, 70);
}
.vue-flow__node-default .vue-flow__handle,
.vue-flow__node-input .vue-flow__handle,
.vue-flow__node-output .vue-flow__handle,
.vue-flow__node-workflow-input .vue-flow__handle,
.vue-flow__node-component .vue-flow__handle,
.vue-flow__node-workflow .vue-flow__handle {
  width: 3px;
  height: 3px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}

.vue-flow__node-component.selected,
.vue-flow__node-component:focus,
.vue-flow__node-component:focus-visible {
  outline: none;
  border: 2px solid #222;
}

.vue-flow__node-workflow.selected,
.vue-flow__node-workflow:focus,
.vue-flow__node-workflow:focus-visible {
  outline: none;
  border: 2px solid rgb(12, 100, 70);
}

.vue-flow__node-workflow,
.vue-flow__node-component {
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  color: #222;
  border-color: var(--vf-node-color);
}

.vue-flow__node-workflow {
  background-color: rgba(16, 185, 129, 0.5);
}

.vue-flow__node-component {
  background-color: rgb(255, 255, 255);
}

.vue-flow__node-workflow.errored-template,
.vue-flow__node-component.errored-template {
  background-color: rgb(215, 57, 65);
}

.vue-flow__edge-path,
.vue-flow__connection-path {
  stroke: #b1b1b7;
  stroke-width: 1.5;
  fill: none;
}
.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__panel {
  box-shadow: none;
}

.basicflow .controls {
  gap: 0 !important;
}

.vue-flow__controls-button,
.basicflow .controls button {
  border-radius: 0 !important;
  color: white;
  background-color: #0e61fe;
  border: none;
  margin: 4px !important;
  padding: 12px !important;
  box-shadow: none !important;
}

.vue-flow__controls-button svg path {
  fill: white;
}

.vue-flow__controls-button:hover,
.basicflow .controls button:hover {
  background-color: #054ed5;
  transform: none !important;
}

.basicflow.dark {
  background: #57534e;
  color: #fffffb;
}
.basicflow.dark .vue-flow__node {
  background: #292524;
  color: #fffffb;
}
.basicflow.dark .vue-flow__controls .vue-flow__controls-button {
  background: #292524;
  fill: #fffffb;
  border-color: #fffffb;
}
.basicflow.dark .vue-flow__edge-textbg {
  fill: #292524;
}
.basicflow.dark .vue-flow__edge-text {
  fill: #fffffb;
}
.basicflow .controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.basicflow .controls button {
  padding: 4px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px #0000004d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basicflow .controls button:hover {
  transform: scale(102%);
  transition: 0.25s all ease;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}
.buttons .button {
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: #000;
  font-weight: 700;
  box-shadow:
    0 4px 6px -1px #0000001a,
    0 2px 4px -2px #0000001a;
}
.buttons .button:hover {
  background: black;
  color: #fff;
}

.dndflow {
  flex-direction: row;
  display: flex;
  height: 77vh;
}
aside .vue-flow__node-workflow {
  background-color: rgba(16, 185, 129);
}

aside {
  width: 300px;
  height: 100%;
  padding: 2% 15px 0;
  font-weight: 700;
  font-size: 12px;
  background: black;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px #0000004d;
}

aside #controls {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside #title {
  font-size: 18px;
  color: white;
}

aside #controls #buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside #controls bx-btn {
  width: fit-content;
  margin: 1% 0;
}

aside #controls bx-btn img {
  margin-right: 5px;
}

aside #controls bx-btn::part(button) {
  margin: 0;
}

aside #nodes-container {
  height: 65%;
  overflow-y: scroll;
}

aside .node > * {
  width: 100%;
  margin-bottom: 2%;
  cursor: grab;
  font-weight: 500;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 2px #00000040;
  margin-left: auto;
  margin-right: auto;
}

.canvas-logo {
  max-height: 16px;
  max-width: 16px;
  width: 100%;
  height: 100%;
  -webkit-filter: invert(0.99);
  filter: invert(0.99);
}

.dndflow .vue-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}
@media screen and (max-width: 672px) {
  .dndflow {
    flex-direction: column;
  }
  aside {
    width: 100%;
    height: 45%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
  }

  aside #controls {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  aside #title {
    font-size: 3vw;
  }

  aside #nodes-container {
    width: 50%;
    height: 100%;
  }
}
@media screen and (max-height: 672px) and (min-width: 673px) {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  aside #controls {
    height: 250px;
  }
}

@media screen and (max-height: 672px) and (max-width: 672px) {
  aside #controls {
    height: 100%;
    overflow-y: scroll;
  }
}

//---- MODAL GLOBAL STYLING ---
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00000066;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 550px;
  background-color: #f4f4f4;
  text-align: left;
}

.modal-header {
  width: 100%;
  position: relative;
}

#modal-title {
  padding: 20px 30px;
  display: inline-block;
  color: black;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
}

#modal-close-button {
  width: 50px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

#modal-close-button:hover {
  background-color: #00000011;
}

.modal-body {
  max-height: 60vh;
  padding: 0 2rem 2rem;
  overflow-y: scroll;
}

.modal-footer {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 1px;
}

.modal-footer-button {
  width: 50%;
  height: 5rem;
  padding-left: 12px;
  text-align: left;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.modal-content hr:nth-of-type(even) {
  margin-bottom: 3rem;
}

.modal-content input {
  width: 18rem;
  height: 2.5rem;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid grey;
}
.modal-content select {
  width: 20rem;
  height: 2.5rem;
  display: block;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid grey;
}
.modal-content textarea {
  width: 18rem;
  display: block;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid grey;
}
.modal-content input:focus-visible,
.modal-content select:focus-visible,
.modal-content textarea:focus-visible {
  border-bottom: none;
  outline: 2px #0e61fe solid;
}
.modal-radio {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.modal-content button {
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-right: 1px;
  padding-left: 12px;
  text-align: left;
  border: none;
  cursor: pointer;
}
.modal-content p,
.modal-content label {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 16px;
}
.modal-content h3 {
  font-size: 24px;
}
.modal-content h4 {
  font-size: 16px;
}
.primary-color {
  background-color: #0e61fe;
  color: white;
}
.primary-color:hover {
  background-color: #054ed5;
}
.secondary-color {
  background-color: #393939;
  color: white;
}
.secondary-color:hover {
  background-color: #4c4c4c;
}
.danger-color {
  background-color: #da1e27;
  color: white;
}
.danger-color:hover {
  background-color: #9e161d;
}

h2 {
  padding: 30px 30px;
  text-align: left;
}
.fullscreen {
  width: 100%;
  height: 100%;
}
