div.align-content-center {
  padding-bottom: 1.3rem;
  align-self: center;
}

div.align-content-center-double-input {
  padding-top: 0.23rem;
  align-self: center;
}

div.align-content-end {
  align-self: end;
}
