/* 
  AP: setting the height of the button to 2.5 rem to make
  it equal to the height of the text-input according to:
  https://carbondesignsystem.com/components/text-input/usage/#sizing
*/
cds-icon-button {
  height: 2.5rem;
}

/* 
  AP: used when the component is in a cds-structured-list-cell and
  is next to components that **DO NOT HAVE** a label
*/
cds-structured-list-cell.align-top {
  vertical-align: top;
}

/* 
  AP: used when the component is in a cds-structured-list-cell and
  is next to components that **HAVE** a label
*/
cds-structured-list-cell.align-bottom {
  vertical-align: bottom;
}

/* 
  AP: we need to emulate c4d groups as we are unable to import
  both cds and c4d versions of structured lists due to redefinition errors 
*/
cds-structured-list-row.cds-list-group {
  background-color: var(--cds-ui-03, #e0e0e0);
}

cds-structured-list-row.cds-list-group > cds-structured-list-cell {
  color: var(--cds-text-primary, #161616);
  font-size: var(--cds-heading-compact-01-font-size, 0.875rem);
  font-weight: var(--cds-heading-compact-01-font-weight, 600);
}
