@use "@carbon/layout";

div.empty-state {
  padding: layout.$spacing-11;
  min-height: 15rem;
  margin: 0;
}

div.greyBackgroundColor {
  background-color: var(--cds-ui-01, #f4f4f4);
}

.empty-state-icon {
  max-height: 100px;
  max-width: 100px;
  width: 100%;
  height: 100%;
  margin: auto 0rem auto layout.$spacing-02;
}

.full-height-empty-state {
  margin-top: layout.$spacing-05;
  padding-top: layout.$spacing-11;
  height: 75vh;
}
