/*  SVG colour correction
    Note: brightness and saturate are needed to turn all SVGs
    black first, so that we don't invert colours unnecessarily
*/

.white-svg {
  -webkit-filter: brightness(0) saturate(100%) invert(0.99);
  filter: brightness(0) saturate(100%) invert(0.99);
}

.black-svg {
  -webkit-filter: brightness(0) saturate(100%) invert(0);
  filter: brightness(0) saturate(100%) invert(0);
}

.drak-gray-svg {
  -webkit-filter: brightness(0) saturate(100%) invert(0.3);
  filter: brightness(0) saturate(100%) invert(0.3);
}

.success-green {
  // Simulate color of IBM success icon
  // Source: https://codepen.io/sosuke/pen/Pjoqqp
  // Input: #198038
  filter: invert(23%) sepia(54%) saturate(4018%) hue-rotate(136deg)
    brightness(90%) contrast(80%);
}

.fail-red {
  // Simulate color of IBM failure icon
  // Source: https://codepen.io/sosuke/pen/Pjoqqp
  // Input: #da1e28
  filter: invert(12%) sepia(82%) saturate(4571%) hue-rotate(349deg)
    brightness(113%) contrast(90%);
}

.warning-yellow {
  // Simulate color of IBM failure icon
  // Source: https://codepen.io/sosuke/pen/Pjoqqp
  // Input: #f1c21b
  filter: invert(69%) sepia(82%) saturate(455%) hue-rotate(2deg) brightness(98%)
    contrast(94%);
}

.interactive-blue {
  // Simulate color of IBM border-interactive
  // Source: https://codepen.io/sosuke/pen/Pjoqqp
  // Input: #0f62fe
  filter: invert(32%) sepia(70%) saturate(6128%) hue-rotate(217deg)
    brightness(101%) contrast(98%);
}
